@model Kids.Areas.Admin.AdminDTO.EditSliderDTO
@{
    ViewData["Title"] = "ویرایش اسلایدر";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>ویرایش مدرس </h1>

<form action="/Admin/Slider/Edit" method="post" enctype="multipart/form-data">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" asp-validation-summary="All"></div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }
    <div class="mb-3">
        <input type="hidden" asp-for="Id" value="@Model.Id"/>
        <input type="hidden" asp-for="ImageAddress" value="@Model.ImageAddress" />
        <label class="form-label"> عنوان:</label>
        <br />
        <span asp-validation-for="Title"></span>
        <input asp-for="Title" value="@Model.Title" type="text" class="form-control">
    </div>
    <div class="mb-3">


        <label class="form-label"> تصویر :</label>
        <br />
        <span asp-validation-for="ImageAddress"></span>
      
        <input name="ImageUpload"   id="ImageUpload" type="file" class="form-control" onchange="previewImage(event)">
    </div>
    <div class="mb-3">
        <img id="imagePreview" src="/uploads/Slider/@Model.ImageAddress" alt="تصویر انتخاب ‌شده" style="max-width: 200px; border: 1px solid #ddd; padding: 5px;">
    </div>

    <div class="mb-3">

        <label class="form-label"> توضیحات  :</label>
        <br />
        <span asp-validation-for="Descreption"></span>
        <input asp-for="Descreption" value="@Model.Descreption" type="text" class="form-control">
    </div>
    <div class="mb-3">

        <label class="form-label"> متن لینک  :</label>
        <br />
        <span asp-validation-for="LinkText"></span>
        <input asp-for="LinkText" value="@Model.LinkText" type="text" class="form-control">
    </div>
    <div class="mb-3">

        <label class="form-label"> آدرس لینک  :</label>
        <br />
        <span asp-validation-for="Linkhref"></span>
        <input asp-for="Linkhref" value="@Model.Linkhref" type="text" class="form-control">
    </div>
    <div class="mb-3">

        <label class="form-label"> آیا فعال باشد؟  :</label>
        <br />
        <span asp-validation-for="Descreption"></span>
        <input asp-for="IsActive" value="@Model.IsActive" type="checkbox">
    </div>
    <div class="mb-3">

        <input type="submit" class="btn btn-warning" value="ویرایش">
        <a href="/Admin/Slider/index" class="btn btn-primary">بازگشت</a>
    </div>
</form>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var img = document.getElementById("imagePreview");
            img.src = reader.result;
            img.style.display = "block";
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>